<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active');
                $(this).parents('li').addClass('active');
            }
        });
    });
</script>
<body>
<div class="container">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/github">Pylint</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/docker">AAATesting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pythonflask">OOPS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cicd">SOLID</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8" style="position:fixed; left:1200px">
                        <a href="#top">Back to top</a>
                    </div>
                </div>

                <p>
                    What is AAA unit testing?
                </p>
                <p>
                    The AAA (Arrange, Act, Assert) pattern is a common way of writing unit tests for a method under
                    test. The Arrange section of a unit test method initializes objects and sets the value of the data
                    that is passed to the method under test.
                </p>
                <p>
                    Arrange: This is the first step of a unit test application. Here we will arrange the test, in other
                    words we will do the necessary setup of the test. For example, to perform the test we need to create
                    an object of the targeted class, if necessary, then we need to create mock objects and other
                    variable initialization, something like this.
                </p>
                <p>
                    Act: This is the middle step of a unit step application. In this step we will execute the test. In
                    other words we will do the actual unit testing and the result will be obtained from the test
                    application. Basically we will call the targeted function in this step using the object that we
                    created in the previous step.
                </p>
                <p>
                    Assert: This is the last step of a unit test application. In this step we will check and verify the
                    returned result with expected results.
                </p>
                <p>
                    Below is the simple pattern in the structure of every unit test. The following is a Calculator class
                    with a single method which calculates a sum of two numbers:
                </p>
                <p>
                    public class Calculator
                </p>
                <p>
                    {
                </p>
                <p>
                    &nbsp;&nbsp;public double Sum(double first, double second)
                </p>
                <p>
                    &nbsp;&nbsp;{
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;return first + second;
                </p>
                <p>
                    &nbsp;&nbsp;}
                </p>
                <p>
                    }
                </p>
                <p>
                    Below shows a test that verifies the class’s behavior. This test exhibits the Arrange-Act-Assert
                    pattern. It’s also called the 3A pattern because there are three “A”s: Arrange, Act, and Assert.
                </p>
                <p>
                    public class CalculatorTests (1)
                </p>
                <p>
                    {
                </p>
                <p>
                    &nbsp;&nbsp;[Fact] (2)
                </p>
                <p>
                    &nbsp;&nbsp;public void Sum_of_two_numbers() (3)
                </p>
                <p>
                    &nbsp;&nbsp;{
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;// Arrange
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;double first = 10; (4)
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;double second = 20; (4)
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;var calculator = new Calculator(); (4)
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;// Act
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;double result = calculator.Sum(first, second); (5)
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;// Assert
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Assert.Equal(30, result); (6)
                </p>
                <p>
                    &nbsp;&nbsp;}
                </p>
                <p>
                    }
                </p>
                <p>
                    1 Class-container for a cohesive set of tests
                </p>
                <p>
                    2 xUnit’s attribute indicating a test
                </p>
                <p>
                    3 Name of the unit test
                </p>
                <p>
                    4 Arrange section
                </p>
                <p>
                    5 Act section
                </p>
                <p>
                    6 Assert section
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    Reference：https://freecontent.manning.com/making-better-unit-tests-part-1-the-aaa-pattern/
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>

