<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active');
                $(this).parents('li').addClass('active');
            }
        });
    });
</script>
<body>
<div class="container">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/github">Pylint</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/docker">AAATesting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pythonflask">OOPS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cicd">SOLID</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="row">
            <div class="col-10">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" style="position:fixed; left:1700px">
                            <a href="#top">Back to top</a>
                        </div>
                    </div>
                    <p>
                        What is Pylint?
                    </p>
                    <p>
                        It is a static code analysis tool to identify errors in Python code and helps programmers
                        enforce good coding style. This tool enables them debugging complex code with less manual work.
                    </p>
                    <p>
                        It is one of the tools which gets used for test-driven development (TDD).
                    </p>
                    <p>
                        The coding style that Pylint applies to the code is known as PEP8.
                    </p>
                    <p>
                        It is a must-have tool for every beginner as well as advanced users as it scans and rates
                        programs with a score according to the rules outlined in the PEP8 Style Guide.
                    </p>
                    <p>
                        How to use Pylint?
                    </p>
                    <p>
                        The command to use pylint on a python file is: pylint filename.py
                    </p>
                    <p>
                        It returns output consisting of semantic errors, syntax errors, errors in coding style, bugs in
                        the code, excessive and redundant code, etc. It also assigns a score that indicates whether the
                        python code is an ideal one to use and maintains a history of scores obtained while running over
                        a python file as well as after each edit.
                    </p>
                    <p>
                             &nbsp;
                </p>
                <p>
                        Reference: https://www.techbeamers.com/pylint-tool/
                    </p>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>

